---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="台灣垃圾通" description="即時垃圾車追蹤 App">
    <p>即時垃圾車追蹤 App，讓您在地圖上查看垃圾車的即時位置。</p>
    <ul>
        <li><a href="/privacy">隱私權政策</a></li>
        <li><a href="/support">客服支援</a></li>
    </ul>
</AppLayout>
